[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dateutil = "*"

[requires]
python_version = "3.5"

[scripts]
run_utest= "bash -c \"source setenv;pytest --cov-report term -vv ./weathertracker/;py.test --cov-report term-missing --cov=weathertracker ./weathertracker/\""
printspam = "python -c \"print('I am a silly example, no one would need to do this')\""

